:root,
:host {
    --sys-background: #111318;
    --sys-on-background: #e2e2e9;
    --sys-surface: #111318;
    --sys-surface-dim: #111318;
    --sys-surface-bright: #37393e;
    --sys-surface-container-lowest: #0c0e13;
    --sys-surface-container-low: #1a1b20;
    --sys-surface-container: #1e2025;
    --sys-surface-container-high: #282a2f;
    --sys-surface-container-highest: #33353a;
    --sys-on-surface: #e2e2e9;
    --sys-surface-variant: #44474f;
    --sys-on-surface-variant: #c5c6d0;
    --sys-inverse-surface: #e2e2e9;
    --sys-inverse-on-surface: #2f3036;
    --sys-outline: #8f9099;
    --sys-outline-variant: #44474f;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #afc6ff;
    --sys-primary: #afc6ff;
    --sys-on-primary: #142f60;
    --sys-primary-container: #2d4578;
    --sys-on-primary-container: #d9e2ff;
    --sys-inverse-primary: #465d91;
    --sys-secondary: #afc6ff;
    --sys-on-secondary: #132f60;
    --sys-secondary-container: #2d4678;
    --sys-on-secondary-container: #d9e2ff;
    --sys-tertiary: #ecb4ec;
    --sys-on-tertiary: #49204d;
    --sys-tertiary-container: #623765;
    --sys-on-tertiary-container: #ffd6fc;
    --sys-error: #ffb4ab;
    --sys-on-error: #561e19;
    --sys-error-container: #73342d;
    --sys-on-error-container: #ffdad5;
    --sys-neutral: #76777d;
    --sys-neutral-variant: #757780;
    --sys-primary-fixed: #d9e2ff;
    --sys-primary-fixed-dim: #afc6ff;
    --sys-on-primary-fixed: #001944;
    --sys-on-primary-fixed-variant: #2d4578;
    --sys-secondary-fixed: #d9e2ff;
    --sys-secondary-fixed-dim: #afc6ff;
    --sys-on-secondary-fixed: #001a43;
    --sys-on-secondary-fixed-variant: #2d4678;
    --sys-tertiary-fixed: #ffd6fc;
    --sys-tertiary-fixed-dim: #ecb4ec;
    --sys-on-tertiary-fixed: #310937;
    --sys-on-tertiary-fixed-variant: #623765;
    --sys-inverse-secondary: #465d91;
    --sys-inverse-tertiary: #7c4e7e;
    --sys-inverse-error: #904a43;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
}