:root {
    --sys-background: #f9f9ff;
    --sys-on-background: #1a1b20;
    --sys-surface: #f9f9ff;
    --sys-surface-dim: #d9d9e0;
    --sys-surface-bright: #f9f9ff;
    --sys-surface-container-lowest: #ffffff;
    --sys-surface-container-low: #f3f3fa;
    --sys-surface-container: #ededf4;
    --sys-surface-container-high: #e8e7ee;
    --sys-surface-container-highest: #e2e2e9;
    --sys-on-surface: #1a1b20;
    --sys-surface-variant: #e1e2ec;
    --sys-on-surface-variant: #44474f;
    --sys-inverse-surface: #2f3036;
    --sys-inverse-on-surface: #f0f0f7;
    --sys-outline: #757780;
    --sys-outline-variant: #c5c6d0;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #465d91;
    --sys-primary: #465d91;
    --sys-on-primary: #ffffff;
    --sys-primary-container: #d9e2ff;
    --sys-on-primary-container: #2d4578;
    --sys-inverse-primary: #afc6ff;
    --sys-secondary: #465d91;
    --sys-on-secondary: #ffffff;
    --sys-secondary-container: #d9e2ff;
    --sys-on-secondary-container: #2d4678;
    --sys-tertiary: #7c4e7e;
    --sys-on-tertiary: #ffffff;
    --sys-tertiary-container: #ffd6fc;
    --sys-on-tertiary-container: #623765;
    --sys-error: #904a43;
    --sys-on-error: #ffffff;
    --sys-error-container: #ffdad5;
    --sys-on-error-container: #73342d;
    --sys-neutral: #76777d;
    --sys-neutral-variant: #757780;
    --sys-primary-fixed: #d9e2ff;
    --sys-primary-fixed-dim: #afc6ff;
    --sys-on-primary-fixed: #001944;
    --sys-on-primary-fixed-variant: #2d4578;
    --sys-secondary-fixed: #d9e2ff;
    --sys-secondary-fixed-dim: #afc6ff;
    --sys-on-secondary-fixed: #001a43;
    --sys-on-secondary-fixed-variant: #2d4678;
    --sys-tertiary-fixed: #ffd6fc;
    --sys-tertiary-fixed-dim: #ecb4ec;
    --sys-on-tertiary-fixed: #310937;
    --sys-on-tertiary-fixed-variant: #623765;
    --sys-inverse-secondary: #afc6ff;
    --sys-inverse-tertiary: #ecb4ec;
    --sys-inverse-error: #ffb4ab;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
}